<div class="section">
    <div class="container">
        <div class="row topGap justify-content-center">
            <div class="col-lg-3 textCenter ">
                <div class="row fullHeight justify-content-center">
                    <input
                        placeholder="Year"
                        #year
                    >
                    <button
                        class="btn btn-success btnLeftMargin"
                        (click)="addSearchYear(year)"
                    >
                        +
                    </button>
                </div>
            </div>
            <div class="col-lg-3 textCenter">
                <div class="row fullHeight justify-content-center">
                    <input
                        placeholder="Post Code"
                        #psCode
                    >
                    <button
                        class="btn btn-success btnLeftMargin"
                        (click)="addSearchPsCode(psCode)"
                    >
                        +
                    </button>
                </div>
            </div>
            <div class="col-lg-3 textCenter">
                <div class="row fullHeight justify-content-center">
                    <input
                        placeholder="City"
                        #city
                    >
                    <button
                        class="btn btn-success btnLeftMargin"
                        (click)="addSearchCity(city)"
                    >
                        +
                    </button>
                </div>
            </div>
            <div class="col-lg-3 textCenter">
                <div class="row fullHeight justify-content-center">
                    <input
                        placeholder="Name"
                        #name
                    >
                    <button
                        class="btn btn-success btnLeftMargin"
                        (click)="addSearchName(name)"
                    >
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section  topGap">
    <div class="container">
        <div class="row justify-content-center">
            <div
                class="col-sm"
                *ngFor="let item of searching.name"
            >
                <div class="row justify-content-center">
                    <p class="pCenter">{{item}}</p>
                    <button
                        class="btn btn-danger btnLeftMargin"
                        (click)="removeSearchName(item)"
                    >
                        -
                    </button>
                </div>
            </div>
            <div
                class="col-sm"
                *ngFor="let item of searching.year"
            >
                <div class="row justify-content-center">
                    <p class="pCenter">{{item}}</p>
                    <button
                        class="btn btn-danger btnLeftMargin"
                        (click)="removeSearchYear(item)"
                    >
                        -
                    </button>
                </div>
            </div>
            <div
                class="col-sm"
                *ngFor="let item of searching.psCode"
            >
                <div class="row justify-content-center">
                    <p class="pCenter">{{item}}</p>
                    <button
                        class="btn btn-danger btnLeftMargin"
                        (click)="removeSearchPsCode(item)"
                    >
                        -
                    </button>
                </div>
            </div>
            <div
                class="col-sm"
                *ngFor="let item of searching.city"
            >
                <div class="row justify-content-center">
                    <p class="pCenter">{{item}}</p>
                    <button
                        class="btn btn-danger btnLeftMargin"
                        (click)="removeSearchCity(item)"
                    >
                        -
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section  topGap">
    <div class="container">
        <app-hotel
            *ngFor="let hotel of hotelsToDisplay"
            [hotelData]="hotel"
        ></app-hotel>
    </div>
</div>
<div class="section  topGap">
    <div class="container">
        <div class="row justify-content-center">
            <button
                (click)="loadMore()"
                class="btn btn-primary"
            >
                Load More
            </button>
        </div>

    </div>
</div>
